<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
      rel="stylesheet"
      as="style"
      onload="this.rel='stylesheet'"
      href="https://fonts.googleapis.com/css2?display=swap&amp;family=Manrope%3Awght%40400%3B500%3B700%3B800&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
  </head>
  <body>
    <div
      class="relative flex h-auto min-h-screen w-full flex-col bg-[#181411] dark justify-between group/design-root overflow-x-hidden"
      style="--select-button-svg: url('data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 width=%2724px%27 height=%2724px%27 fill=%27rgb(186,168,156)%27 viewBox=%270 0 256 256%27%3e%3cpath d=%27M181.66,170.34a8,8,0,0,1,0,11.32l-48,48a8,8,0,0,1-11.32,0l-48-48a8,8,0,0,1,11.32-11.32L128,212.69l42.34-42.35A8,8,0,0,1,181.66,170.34Zm-96-84.68L128,43.31l42.34,42.35a8,8,0,0,0,11.32-11.32l-48-48a8,8,0,0,0-11.32,0l-48,48A8,8,0,0,0,85.66,85.66Z%27%3e%3c/path%3e%3c/svg%3e'); font-family: Manrope, &quot;Noto Sans&quot;, sans-serif;"
    >
      <div>
        <div class="flex items-center bg-[#181411] p-4 pb-2 justify-between">
          <div class="text-white flex size-12 shrink-0 items-center" data-icon="ArrowLeft" data-size="24px" data-weight="regular">
            <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
              <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
            </svg>
          </div>
          <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pr-12">Buy Crypto</h2>
        </div>
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Select Crypto</h2>
        <div class="flex items-center gap-4 bg-[#181411] px-4 min-h-[72px] py-2">
          <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDZInj3uHLemTs5TavV0h7VxpLXDpDc0RneEYhrp-U8I8M4l1Of-GujNZEfLyi9pGX2sRNcZk0gpy64dANM9z3IMMor2v_J_ShsXdD-HLSjuepnF5HHA_KHJE_Nivp351WkoI6HephOH19L3m6zvUh1Yu1_W8UkdP6NubcV0ODu6hAUx0B8NDwju9aO-ZR2Hr8_Sydcloz1jff4qVrM9uMIZVG8eH7NddzLILv0lmiHXN7erVNIp9MWmd2aIBKygUYhPgyZUhk534gd");'
          ></div>
          <div class="flex flex-col justify-center">
            <p class="text-white text-base font-medium leading-normal line-clamp-1">BTC</p>
            <p class="text-[#baa89c] text-sm font-normal leading-normal line-clamp-2">Bitcoin</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-[#181411] px-4 min-h-[72px] py-2">
          <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDieQWPpDzdwT0tEL7G-ivRfyUpbMV9PeCWu83kcQdMHBNqFpcowjxLIl7bRdONfNd-vdkXvhGOe8aic8nuMrfZjtAmqJ01tN_XXywSxDcGRkSVnzeawXBt7yjlB7fTlJzVEcHztsg775cAP-Sv-Id6Z6kQNIKJ8fU2RMBwYkDQplVIW_XicJKmeGB85ugoT8BXlb9AAu3UT83EGQuMQG1iiE8Tv2eGPuPP_DGC0JpRDuC8jD2MqzUVnZx6R61dFPDUcwP8RTC58db3");'
          ></div>
          <div class="flex flex-col justify-center">
            <p class="text-white text-base font-medium leading-normal line-clamp-1">ETH</p>
            <p class="text-[#baa89c] text-sm font-normal leading-normal line-clamp-2">Ethereum</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-[#181411] px-4 min-h-[72px] py-2">
          <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBgLKTl6yuT8tq5YuMdKSlY_cZ21Y4lTfD7HKmrOlTd0kZKJp8Eosjv6V2cLPkJ2qs0F0qRYvEW_e8deoLpxxmLjwHtntegbspOiEVE88Mwq3w5i7fBN-h-qkPnAehBumgs7bNB8EDFj5DD0OhOPf9WOdbNJm_lBVHZZxjSFwGiWjW1hfEllLiotjHWB2h2SDBUWrRqVoEwzTuCm7q2qnq16cljKuHHZVX08qWUFIm-IHg6RqPcUdwUrpwchnnnKbXshScLqEdJfMza");'
          ></div>
          <div class="flex flex-col justify-center">
            <p class="text-white text-base font-medium leading-normal line-clamp-1">LTC</p>
            <p class="text-[#baa89c] text-sm font-normal leading-normal line-clamp-2">Litecoin</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-[#181411] px-4 min-h-[72px] py-2">
          <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCqyG9TgG7xLx2s21TECQ-P1vhlxpznIJScDqY8G02R5ScPI8ttV8ZomFdFgcJAJJoN1ppwsiakLJE34i2CxfFkexRZcZA05IcMM-T0Zm71uy6SE4FUxC544YO8qP5envulO6cK488pGhuwcVDZJ6ByMoQd78o0pxZQaiLz7AzVfobRTuTjI922Ll8Qc0chtT-yPDbj7k46fZnnNJHAYCUCbf9w55l2XN2ss6e7w2FhHbiQxgikw-yMF7fiXnaGhKTzVxGszVV8q3tK");'
          ></div>
          <div class="flex flex-col justify-center">
            <p class="text-white text-base font-medium leading-normal line-clamp-1">XRP</p>
            <p class="text-[#baa89c] text-sm font-normal leading-normal line-clamp-2">Ripple</p>
          </div>
        </div>
        <div class="flex items-center gap-4 bg-[#181411] px-4 min-h-[72px] py-2">
          <div
            class="bg-center bg-no-repeat aspect-square bg-cover rounded-lg size-14"
            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCEvaslATFmqgbdTjwC60LVuFRgWA3MKzF9ZBMS9REyrLEJynW-9GfSLQ3N4xeOT2S61zcEIC5fQ4Y5J7HIP7OGLvDA_1SJC6uPkCCryV6P28X0nGIwYlwMMmKe7WALEbMe1TwsG4kPzjOcWQP46bpLOHR3MdLyGyT9IY3mdGG9JCTvEtz1mnstY0simObilOWFpL9ts0_FE_LXFtiHNN2uRWuozneSkD_4U5iNP4r3scySZ7qosRiW5cyI4Kw4ZsB5R-eI8ZPFUQSk");'
          ></div>
          <div class="flex flex-col justify-center">
            <p class="text-white text-base font-medium leading-normal line-clamp-1">ADA</p>
            <p class="text-[#baa89c] text-sm font-normal leading-normal line-clamp-2">Cardano</p>
          </div>
        </div>
        <h2 class="text-white text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-5">Transaction Details</h2>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <p class="text-white text-base font-medium leading-normal pb-2">Amount</p>
            <input
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#392f28] focus:border-none h-14 placeholder:text-[#baa89c] p-4 text-base font-normal leading-normal"
              value=""
            />
          </label>
        </div>
        <div class="flex max-w-[480px] flex-wrap items-end gap-4 px-4 py-3">
          <label class="flex flex-col min-w-40 flex-1">
            <p class="text-white text-base font-medium leading-normal pb-2">Funding Source</p>
            <select
              class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-white focus:outline-0 focus:ring-0 border-none bg-[#392f28] focus:border-none h-14 bg-[image:--select-button-svg] placeholder:text-[#baa89c] p-4 text-base font-normal leading-normal"
            >
              <option value="one"></option>
              <option value="two">two</option>
              <option value="three">three</option>
            </select>
          </label>
        </div>
      </div>
      <div>
        <div class="flex px-4 py-3">
          <button
            class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 px-5 flex-1 bg-[#f26c0d] text-white text-base font-bold leading-normal tracking-[0.015em]"
          >
            <span class="truncate">Buy BTC</span>
          </button>
        </div>
        <div class="h-5 bg-[#181411]"></div>
      </div>
    </div>
  </body>
</html>
